@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oleo+Script:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.commContainer,
.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
}

.locHeadline,
.comm2Headline,
.commHeadline,
.aboutHeadline {
  font-size: 6vh;
  font-weight: bold;
  color: rgba(10, 25, 47, 0.85);
}

.locHeadline {
  color: white;
  font-size: 4vh;
  font-weight: 500;
  padding: 2vh 10vw;
}

.comm2Headline {
  margin-top: 3vh;
  font-size: 4vh;
}
.aboutPara {
  font-family:  "Roboto", sans-serif;
  margin: 5vh 5vw;
  font-size: 3vh;
  font-weight: 600;
  text-align: center;
  line-height: 4.5vh;
}

.impText {
  font-size: 3.5vh;
  font-weight: bold;
  cursor: pointer;
  color: rgba(17, 38, 69, 0.85);
}

.leftdesigns img {
  height: 3.5vh;
  margin-right: 1vw;
}

.rightdesigns img {
  height: 3.5vh;
  margin-left: 1vw;
  transform: rotate(180deg);
}

.partitionDes img {
  margin-top: 5vh;
  width: 25vw;
  height: 6vh;
}

@media screen and (max-width: 615px) {
  .locHeadline,
  .comm2Headline,
  .commHeadline,
  .aboutHeadline {
    font-size: 3vh;
  }

  .leftdesigns img {
    height: 2.5vh;
  }

  .rightdesigns img {
    height: 2.5vh;
  }

  .partitionDes img {
    margin-top: 3vh;
    width: 80vw;
    height: 5vh;
  }
  .aboutPara {
    font-size: 2.5vh;
  }
  .impText {
    font-size: 3vh;
  }

  .commContainer,
  .aboutContainer {
    padding-top: 10vh;
  }
}
