.membersContainer,
.mainMembersContainer {
  display: flex;
  justify-content: center;
  gap: 3vw;
  flex-wrap: wrap;
  padding: 5vh 2vw;
}

.membersContainer {
  gap: 2vw 4vw;
  padding: 0vh 0vw;
}

.memberCard,
.mainMemberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 50vh;
  background-color: #f4f4f4;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.memberCard {
  width: 17vw;
  height: 40vh;
}

.memberCard2{
  width: 17vw;
}

.memberImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainMemberName,
.memberName {
  width: 20vw;
  font-size: 3vh;
  font-weight: bold;
  color: #141414;
  margin-top: 2vh;
  margin-bottom: 1.5vh;
}

.memberName {
  font-size: 2.2vh;
}

.memberDesignation {
  font-size: 2vh;
  color: #494949;
}

.partition {
  margin-top: 5vh;
}

@media screen and (max-width: 615px) {
  .memberCard,
  .mainMemberCard {
    width: 40vw;
    height: 30vh;
  }

  .mainMemberName,
  .memberName {
    width: 40vw;
    font-size: 1.8vh;
  }

  .memberDesignation {
    font-size: 1.5vh;
    color: #2d2d2d;
  }

  .membersContainer {
    gap: 2vw;
  }
}

@media screen and (max-width: 1024px) and (min-width: 616px) {
  .memberCard,
  .mainMemberCard {
    width: 20vw;
    height: 30vh;
  }

  .mainMemberName,
  .memberName {
    width: 20vw;
    font-size: 1.8vh;
  }

  .memberDesignation {
    font-size: 1.5vh;
    color: #2d2d2d;
  }

  .membersContainer {
    gap: 2vw;
  }
}